/* Template for a CSS rule */
h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 80px;
    margin-right: 80px;
    color: rgb(92, 146, 207);
    text-align: center;
    position: relative;
    font-size: 20px;
    padding-top: 0px;
}

h2 {
    font-family: 'League Script', cursive;
    margin-top: 150px;
    color: rgb(92, 146, 207);
    text-align: center;
    position: relative;
    font-size: 60px;
}

p {
    font-family: 'Times New Roman';
    text-align: center;
    position: relative;
    font-size: 18px;
    color: aliceblue; 
    margin-left: 80px;
    margin-right: 80px;
}

/* Second CSS rule */
Selector {
    property: value;}

.background {
    display: block;
    position: relative;
    background-color: rgb(166, 208, 255);
    }

.logo {
        float: none;
        width: 850px;
        height: 431px;
        object-fit: cover;
        position: relative;
        margin-top: 50px;
        left: 200px;
    }

 .logo2 {
        float: none;
        width: 600px;
        height: 299px;
        object-fit: cover;
        position: relative;
        margin-top: 50px;
        left: 300px;
    }

    nav {
        position: fixed;
        color: linen;
        text-decoration-line: none;
        top: 0;
        left: 0;
        width: 100%;
        padding: .75rem;
        background-color: rgb(92, 146, 207);
        z-index: 1000000000;
    } 

    .navitem {
        color: aliceblue;
        text-decoration: none;
    }
    
    nav li {
        display: inline;
        margin-right: 1rem;
    }

    .bookcovers {
        position: relative;
        width: 240px;
        height: 390px;
    }

    .banner {
        width: 525px;
        height: 270px;
        right: 10px;
    }

    .flex-container {
        padding: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }