/* Template for a CSS rule */
h1 {
    font-family: 'Times New Roman', Times, serif;
    left: 100px;
    right: 300px;
    position: relative;
    font-size: 20px;
    color: rgb(78, 163, 233);
}
/* Second CSS rule */
Selector {
    property: value;}

.background {
    display: block;
    position: relative;
    background-color: rgb(166, 215, 255);
    }

 img {
        float: none;
        width: max-content;
        height: max-content;
        object-fit: cover;
        left: 40%;
        position: relative;
    }